* {
  margin: 3px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
  color: black;
  user-select: none;
  font-weight: normal;
}
.header > h1 {
  font-weight: bold;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #dddfd4;
}
.hungman-img {
  display: flex;
}
.hungman-img > img {
  width: 200px;
}
button {
  align-items: center;
  font-size: 15px;
  background: none;
}
.keyboard {
  text-transform: uppercase;

  width: 50%;
}

.button {
  text-transform: uppercase;
  width: 10%;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
.button:hover {
  background: linear-gradient(to bottom, #cecece 5%, #ffffff 100%);
  background-color: #888888;
}
.button:active {
  position: relative;
  top: 1px;
}

.button-green {
  box-shadow: inset 0px 1px 0px 0px #3dc21b;
  background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
  background-color: #44c767;
  border-radius: 6px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.button-green:hover {
  background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
  background-color: #5cbf2a;
}
.button-green:active {
  position: relative;
  top: 1px;
}

.button-red {
  box-shadow: inset 0px 1px 0px 0px #f7c5c0;
  background: linear-gradient(to bottom, #fc8d83 5%, #e02e21 100%);
  background-color: #fc8d83;
  border-radius: 6px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}
.button-red:hover {
  background: linear-gradient(to bottom, #e02e21 5%, #fc8d83 100%);
  background-color: #e02e21;
}
.button-red:active {
  position: relative;
  top: 1px;
}

.key-disable {
  pointer-events: none;
  border-color: #d83526;
}

.header {
  text-align: center;
  align-content: center;
  justify-content: center;
}
